- # VISTA PRINCIPAL DE LA APLICACIÓN PARA LOS USUARIO. DESDE
.container-fluid
	.row
		.col-sm
			%ul.list-group 
				%li.d-block.p-2.bg-dark.text-white

					Tus Amistades:
				- @user.friends.each do |f| 
					%li.list-group-item
						= f.name

						- friendship = Friendship.find_by(user_id: @user.id, friend_id:f.id )
						= link_to 'Dejar Amistad', friendship_path(friendship.id), class: 'float-right btn btn-sm btn-danger', method: :delete
				- @pendents = Friendship.pendents(@user.id).order('created_at ASC')
				- if @pendents.count > 0 
					%li.d-block.p-2.bg-info.text-white-50
						Por confirmar:

					- @pendents.each do |f|
						%li.list-group-item
							= f.user.name
							= link_to 'Confirmar Amistad', confirmed_friendship_path(f.id), class: 'float-right btn btn-sm btn-info', method: :post

		.col-sm
			%ul.list-group{style: "overflow-y:scroll;height: 600px"} 
				%li.list-group-item.list-group-item-info
					Tus Publicaciones:
					= link_to 'Publicar', 'javascript:void(0)', class: 'btn btn-outline-success float-right btn-sm', id: 'send_comment'
					#send_comment_form.hidden-sm-up{style: 'display:none;'}
						= render '/comments/form'
				- @user.comments.order('created_at DESC').first(20).each do |comment| 
					%li.list-group-item
						= render partial: 'comments/comment', locals: { publish_autor:  false, comment: comment}

		.col-sm
			%ul.list-group{style: "overflow-y:scroll;height: 600px"}
				%li.list-group-item.list-group-item-secondary
					Otras Publicaciones:
				- Comment.others(@user.id).order('created_at DESC').first(20).each do |comment| 
					- if comment.public? or (comment.private and @user.friends.include? comment.user)
						%li.list-group-item
							= render partial: 'comments/comment', locals: { publish_autor:  true, comment: comment}


:javascript

	$( "#send_comment" ).click(function() {
		$('#send_comment_form').slideToggle();
		$(this).hide();

	});