.raw
	.col-5
		%ul.list-group 
			%li.list-group-item.list-group-item-secondary
				Tus Amistades:
			- @user.friendships.each do |f| 
				%li.list-group-item
					=f.user.name
					- if f.is_confirmed?
						=link_to 'Dejar Amistad', "/friendships/#{f.id}/switch", class: 'float-right btn btn-sm btn-danger', method: :post
					- else
						=link_to 'Confirmar Amistad', "/friendships/#{f.id}/switch", class: 'float-right btn btn-sm btn-info', method: :post


.raw
	.col-5
		%ul.list-group 
			%li.list-group-item.list-group-item-info
				Tus Publicaciones:
				= link_to 'Publicar', 'javascript:void(0)', class: 'btn btn-outline-success float-right btn-sm', id: 'send_comment'
				#send_comment_form.hidden-sm-up{style: 'display:none;'}
					= render '/comments/form'
			- @user.comments.order('created_at DESC').first(20).each do |comment| 
				%li.list-group-item
					= render comment

	.col-5
		%ul.list-group 
			%li.list-group-item.list-group-item-secondary
				Otras Publicaciones:
			- Comment.order('created_at DESC').first(20).each do |comment| 
				%li.list-group-item
					= render comment
			


:javascript

	$( "#send_comment" ).click(function() {
		$('#send_comment_form').slideToggle();
		$(this).hide();

	});