<div class="authform">
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :role => 'form'}) do |f| %>
    <h3>¿Olvidó su contraseña?</h4>
    <p>Le enviarémos instrucciones para resetear su contraseña</p>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.label :email, value: 'Correo Electrónico' %>
      <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
    </div>
     <%= f.submit 'Resetear Contraseña', :class => 'button right' %>
  <% end %>
</div>
